<div class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-user">
                <div class="image">
                    <img src="/img/damir-bosnjak.jpg" alt="...">
                </div>
                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="/img/mike.jpg" alt="...">
                            <h5 class="title">{{admin.hoten}}</h5>
                        </a>
                        <p class="description">
                            {{admin.email}}
                        </p>
                    </div>
                    <p class="description text-center">
                        "Công nghệ thay đổi cuộc sống"
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Chỉnh sửa thông tin</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="/updateAdmin/{{admin.id}}">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên đầy đủ</label>
                                    <input type="text" name="hoten" class="form-control" value="{{admin.hoten}}"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Tên đăng nhập</label>
                                    <input type="text" name="tendangnhap" class="form-control"
                                           value="{{admin.tendangnhap}}" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Trình độ học vấn</label>
                                    <input type="text" class="form-control" name="trinhdohocvan"
                                           value="{{admin.trinhdohocvan}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Ngày sinh</label>
                                    <input type="date" class="form-control" name="ngaysinh" value="{{admin.ngaysinh}}"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round">Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>