<div class="content">
    <div class="collum">
        <div class="card card-user">
            <div class="card-header">
                <h4 class="card-title"><strong>Chỉnh sửa bài viết</strong></h4>
            </div>
            <div class="card-body">
                <form method="post" action="/updateBaiViet/{{baiviet.id}}">
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Tên bài viết</label>
                                        <input value="{{baiviet.tenbaiviet}}" name="tenbaiviet" type="tenbaiviet" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Chủ đề</label>
                                        <select class="form-control" name="idtheloaibaiviet">
                                            <option selected value="{{nametype.id}}">{{nametype.tentheloai}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-1">
                                    <div class="form-group">
                                        <label>Người gửi</label>
                                        <input value="{{username.id}}" name="idnguoigui" type="hidden" class="form-control">
                                        <input disabled value="{{username.hoten}}" name="hoten" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-12 pl-10">
                                    <div class="form-group">
                                        <label>Tóm tắt</label>
                                        <textarea name="noidung" class="form-control" type="text">{{baiviet.tomtat}}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 pl-10">
                                    <div class="form-group">
                                        <label>Nội dung</label>
                                        <textarea name="noidung" class="form-control" type="text">{{baiviet.noidung}}</textarea>
                                    </div>
                                </div>
                                <input name="trangthai" type="hidden" class="form-control" value="Đã xác nhận">
                            </div>
                            <div class="col-md-12">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" class="btn btn-primary btn-round">Đăng bài</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>