<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Learn IT Education</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="/vendors/popup/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--===============================================================================================-->
</head>


<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="top_menu row m0">
        <div class="container">
            <div class="float-left">
                <ul class="list header_social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                </ul>
            </div>
            <div class="float-right">
                <!--<a class="dn_btn" href="tel:+4400123654896">+0901 987 123</a>-->
                {{#if isAuthenticated}}
                    <a class="dn_btn" href="/update">{{user.email}}</a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/index"><img src="/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto" id="nav">
                        <li class="nav-item"><a class="nav-link" href="/index">Trang chủ</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="true">Danh mục</a>
                            <ul class="dropdown-menu">
                                {{#each type}}
                                    <li class="nav-item">
                                        <a class="nav-link" href="/baidang/{{this.id}}">{{this.tentheloai}}</a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{#if isAuthenticated}}
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="true">Quản lý bài viết</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/guibaiviet">Gửi bài viết</a>
                                    <li class="nav-item"><a class="nav-link" href="/xembaiviet">Bài viết đã gửi</a>
                                    </li>
                                </ul>
                            </li>
                        {{/if}}
                        <li class="nav-item"><a class="nav-link" href="/contact">Liên hệ</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="true">Tài khoản</a>
                            <ul class="dropdown-menu">
                                {{#if isAuthenticated}}
                                    <li class="nav-item"><a class="nav-link" href="/logout">Đăng xuất</a>
                                <li class="nav-item"><a class="nav-link" href="/update">Cập nhật thông tin</a>
                                {{else}}
                                    <li class="nav-item"><a class="nav-link" href="/signup">Đăng ký</a>
                                <li class="nav-item"><a class="nav-link" href="/login">Đăng nhập</a>
                                {{/if}}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->
{{{body}}}

<!--================ start footer Area  =================-->
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Danh mục</h6>
                    <ul class="list">
                        <li><a href="#">Ngôn ngữ</a></li>
                        <li><a href="#">Giải thuật</a></li>
                        <li><a href="#">Câu đố</a></li>
                        <li><a href="#">Công nghệ mới</a></li>
                        <li><a href="#">Trí tuệ nhân tạo</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Liên hệ</h6>
                    <ul class="list">
                        <li><a href="#">tv@service.learnIT.com</a></li>
                    </ul>
                </div>
            </div>
            {{#unless user.theodoi}}

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3 class="footer_title">Đăng ký địa chỉ email để nhận các bài viết mới nhất</h3>
                        </div>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                  method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Nhập địa chỉ email" onfocus="this.placeholder = ''"
                                           onblur="this.placeholder = 'Nhập địa chỉ email '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>

            {{else}}

                <div class="container">
                    <form class="impress_inner text-center" method="post" action="/cancelFollow">
                        <button type="submit" class="main_btn2">Huỷ theo dõi</button>
                    </form>
                </div>

            {{/unless}}
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-md-8 footer-text m-0">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                    href="https://colorlib.com" target="_blank">Colorlib</a>
            <div class="col-lg-4 col-md-4 footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--================ End footer Area  =================-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/stellar.js"></script>
<script src="/vendors/lightbox/simpleLightbox.min.js"></script>
<script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="/vendors/isotope/isotope.pkgd.min.js"></script>
<script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="/vendors/counter-up/jquery.counterup.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/theme.js"></script>

<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<script src="vendor/jquery/jquery-3.2.1.min.js"></script>-->
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="/js/main.js"></script>
<script src="/js/CheckPassStrong.js"></script>
<script src="/js/AjaxSignUp.js"></script>
</body>
</html>